/* changing the whole background color of all pages */
body {
    background-color: rgb(88, 143, 177);
    width: auto;
    height: auto;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 10px;
}

/*  */
.title {
    border-left: 10px solid rgb(234, 162, 46);
    /* border-bottom-left-radius: 50px;
    border-top-left-radius: 50px; */
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: x-large; 
}

/*  */
.top-navbar {
    background-color:rgba(154, 154, 154, 0.6);
    display: flex;
    color: rgb(234, 162, 46);
    border-radius: 10px;
    padding: 15px 15px 5px 5px;
}

/*  */
.top-navbar, ul {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*  */
ul, li {
    margin: 0px;
    list-style-type: none;
}

/*  */
a:hover {
    color: blue;
}


/*  */
main {
    text-align: center;
    align-content: center;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

/*  */
/* .images {
    display: flexbox;
    align-self: center;
    border-radius: 10px;
} */

/*  */
/* img { */
    /* display: flexbox; */
/* } */

/*  */
#programmer-gif {
    height: auto;
    width: 100%;
    /* image will be no larger than 50% */
    /* max-width: 50%; */
    /* image will be no smaller than 25% */
    min-width: 50px;
}

/*  */
#headshot {
    height: auto;
    width: 100%;
    min-width: 50px;
}

/*  */
#coding-screen {
    height: auto;
    width: 100%;
    min-width: 50px;
}
/* d */
@media only screen 
   and (max-width : 1125px) 
   and (max-height : 2001px) {
    /* adding  */
   /* Styles here */
   #programmer-gif {
    height: auto;
    width: 50%;    
    }
    #headshot {
        height: auto;
        width: 50%;
    }   
    #coding-screen {
        height: auto;
        width: 50%;
    }   
}

@media only screen 
   and (min-width : 320px) {
   /* Styles here */
   #programmer-gif {
    height: auto;
    width: 350px;
   }
   #headshot {
    height: auto;
    width: 350px;
   }
   #coding-screen {
    height: auto;
    width: 350px;
   }
}

/*  */
form {
    display: flexbox;
    text-align: center;
    padding: 10px;
    align-content: center;
    margin: 0;
}

/*  */
.about-table {
    width: 100%;
    border-collapse: collapse;
}

/*  */
.about-table tr{
    display: grid;
    grid-template-columns: 1% 20% 17% 12% 12% 12%;
    justify-content: center;

}

/*  */
.about-table th td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid, black;
}


/*  */
footer {
    display: flex contents;
}

/*  */
footer, p {
    text-align: center;
    margin: 5px;
    border-radius: 3px;
}

#site-links {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

/* vh / vw */

.contact-text {
    height: auto;
    width: 50%;
    min-width: 50px;
}

/* This styles list links in the navbar to increase size and change color when active */
.active-link a {
    color: rgb(255, 255, 255);
    font-size: 150%;
}

/* This will help venter the search bar inside the navbar element */
#nav-search {
    margin-top: -5px;
}